/* stylelint-disable */
@import '../1-tools/mixins';

.editor-styles-wrapper .wp-block-button,
.wp-block-button {

	// Style variation for 'layout-border-blue-fill'
	&.is-style-layout-primary-fill {

		.wp-block-button__link {
			border: 1px solid $primary;
			background-color: $primary !important;
			color: $white !important;
			@include button;
		}
	}

	&.is-style-layout-secondary-fill {

		.wp-block-button__link {
			border: 1px solid $secondary;
			background-color: $secondary !important;
			color: $white !important;
			@include button;
		}
	}

	// Style variation for 'layout-border-white-no-fill'
	&.is-style-layout-border-white-no-fill {

		.wp-block-button__link {
			border: 1px solid $white;
			background-color: transparent !important;
			color: $white !important;
			@include button;
		}
	}
}

// Style variation block settings preview styles.
.block-editor-block-styles__item[aria-label="White outline - to be used with dark background"] {
	.block-editor-block-styles__item-preview,
	.block-editor-block-list__layout.is-root-container {
		background-color: $primary;

		.wp-block-button.is-style-layout-border-white-no-fill {
			.wp-block-button__link {
				background-color: $primary;
			}
		}
	}
}

.slick-slider {
    margin: 0 !important;
}

.slick-dots {
	position: relative !important;
}

/* stylelint-enable */
