.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 20px 0;
  background-color: white;
  display: none;
  overflow: hidden;
}

// Commented out since it's not being used

/* .faq-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  @include large-screen {
    max-width: 900px;
  }
  .a-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 20px;

    .a-btn {
      margin: 0;
      position: relative;
      padding: 15px 30px;
      width: 100%;
      color: #bdbdbd;
      font-weight: 400;
      display: block;
      font-weight: 500;
      background-color: $gray-3;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;

      &:hover {
        background-color: $neutral-grey;
      }
      span {
        display: block;
        position: absolute;
        height: 14px;
        width: 14px;
        right: 20px;
        top: 18px;
        &:after {
          content: '';
          width: 14px;
          height: 3px;
          border-radius: 2px;
          background-color: #fff;
          position: absolute;
          top: 6px;
        }
        &:before {
          content: '';
          width: 14px;
          height: 3px;
          border-radius: 2px;
          background-color: #fff;
          position: absolute;
          top: 6px;
          transform: rotate(90deg);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .a-panel {
      width: 100%;
      color: #262626;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      height: auto;
      max-height: 0;
      overflow: hidden;
      padding: 0px 10px;
    }

    &.active {
      .a-btn {
        color: #fff;
        span {
          &::before {
            transform: rotate(0deg);
          }
        }
      }
      .a-panel {
        padding: 15px 10px 10px 10px;
        opacity: 1;
        max-height: 500px;
      }
    }
  }
} */
