.buttons {
  .trans-CTA {
    .transactional-variations,
    .transitional-variations {
      @include large-screen {
        display: grid;
        grid-template-columns: 1fr auto;
      }
    }
  }

  .link-text {
    .link-variations {
      @include large-screen {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .link-cta-variations {
    .default,
    .hover {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}

.btn {
  text-decoration: none;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: $neutral-surface;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &.cta-text-link {
    border-radius: 0;
    font-size: 16px;

    padding: 0;

    // &.primary-red {
    //   color: $primary-red;
    //   &:hover {
    //     color: $primary-red-700;
    //     text-decoration: underline;
    //   }
    // }

    &.primary-blue {
      color: $secondary-brighter-blue-500;
      &:hover {
        color: $secondary-brighter-blue-700;
        text-decoration: underline;
      }
    }

    .fa {
      position: relative;
      left: 8px;
      bottom: 1px;
    }
  }
}

.btn-primary {
  // background-color: $primary-red;
  // border-color: $primary-red;

  // &:hover {
  //   background-color: $primary-red-700;
  //   color: $neutral-surface;
  //   border-color: $primary-red-700;
  // }

  // &:focus {
  //   background-color: $primary-red;
  //   outline: 4px auto;
  //   box-shadow: none;
  //   border: 2px solid $primary-red-300;
  // }

  // &.disabled {
  //   background-color: $secondary-brighter-red-300;
  //   border-color: $secondary-brighter-red-300;
  // }
}

// .btn-secondary {
//   background-color: $primary-blue;
//   border-color: $primary-blue;

//   &:hover {
//     background-color: $primary-blue-700;
//     color: $neutral-surface;
//     border-color: $primary-blue-700;
//   }

//   &:active {
//     background-color: $primary-blue;
//     color: $neutral-surface;
//     border-color: $btn-secondary-pressed;
//     outline: none;
//   }

//   &:focus {
//     background-color: $primary-blue;
//     outline: 4px auto;
//     box-shadow: none;
//     border: 2px solid $primary-blue-300;
//   }

//   &.disabled {
//     background-color: $secondary-brighter-blue-300;
//     border-color: $secondary-brighter-blue-300;
//   }
// }

.btn-info {
  background-color: $gray;
  border-color: $gray;

  &:hover {
    background-color: $gray;
    border-color: $gray;
  }
}

.bg-main {
  background-color: $primary;
}
