.tints-shades__container {
  padding-left: 20px;
  padding-right: 20px;
}

.tint-table {
  margin-top: 20px;
  color: $white;

  span {
    font-size: 14px;
    font-weight: 400;
  }

  thead {
    height: 88px;
    position: relative;
    th {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
  tbody {
    @include large-screen {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    tr {
      display: flex;
      justify-content: space-between;
    }

    .bg-primary-red-300,
    .bg-primary-red-200,
    .bg-primary-red-100,
    .bg-primary-blue-300,
    .bg-primary-blue-200,
    .bg-primary-blue-100,
    .bg-primary-bondi-300,
    .bg-primary-bondi-200,
    .bg-primary-bondi-100,
    .bg-secondary-brighter-300,
    .bg-secondary-brighter-200,
    .bg-secondary-brighter-100,
    .bg-secondary-brighter-red-300,
    .bg-secondary-brighter-red-200,
    .bg-secondary-brighter-red-100,
    .bg-grape-300,
    .bg-grape-200,
    .bg-grape-100,
    .bg-brighter-blue-300,
    .bg-brighter-blue-200,
    .bg-brighter-blue-100,
    .bg-orange-300,
    .bg-orange-200,
    .bg-orange-100,
    .bg-green-300,
    .bg-green-200,
    .bg-green-100,
    .bg-blue-300,
    .bg-blue-200,
    .bg-blue-100 {
      color: $black;
    }
  }
}
