.advantage-container {
  max-width: 400px;
  .heading {
    font-weight: 700;
  }
  .email-form,
  .form-check-input {
    border: 1px solid $black;
  }

  .form-check {
    .form-check-label {
      position: relative;
      top: -30px;
    }
  }

  .btn {
    margin-top: 0;
  }
}
