/*----- ACF Radio Button Color Picker ---------------*/
.wp-admin .acf-block-component {
  .bg-color-options,
  .overlay_bg_colors {
    ul.acf-radio-list {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-left: 0;

      li {
        margin-right: 0;
        display: flex;

        label {
          width: 28px;
          height: 28px;
          position: relative;
          margin-right: 10px;
          margin-bottom: 10px;
          color: $white;

          input[type='radio'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 28px;
            height: 28px;

            &:checked {
              &::before {
                content: '\f15e';
                font-family: dashicons;
                width: 20px;
                height: 20px;
                background-color: transparent;
                font-size: 20px;
                margin: 1px;
                color: $white;
              }
            }

            // override light colors with a black checkmark when checked (default is white)
            &[value='neutral-surface'],
            &[value='primary-bondi-100'],
            &[value='accent-orange-200'] {
              &:checked {
                &::before {
                  color: $black;
                }
              }
            }

            @each $name, $color in $colors {
              &[value='#{$name}'] {
                background-color: $color;
              }
            }
          }
        }
      }
    }
  }
}

.interface-interface-skeleton__sidebar {
  /* flex: 4 !important; */

  /* .interface-complementary-area {
    width: 100%;
  } */
}

.img-align {
  .acf-radio-list {
    display: block !important;
  }
}

.iris-square,
.iris-strip {
  display: none !important;
}
.iris-picker {
  height: 20px !important;
  border: 0px !important;
}

.iris-palette {
  border-radius: 50px !important;
  height: 15px !important;
  width: 15px !important;
}

.wp-picker-container input[type='text'].wp-color-picker {
  display: none !important;
}
.iris-picker .iris-palette {
  margin: 5px !important;
}
.iris-border .iris-palette-container {
  bottom: -10px !important;
}
