// Typography Utilities

.primary-font-regular {
  font-family: $primary-font;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0;
}

.primary-font-italic {
  font-family: $primary-font;
  font-size: 40px;
  font-style: italic;
  line-height: 46px;
  letter-spacing: 0;
}

.primary-font-bold {
  font-family: $primary-font;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0;
}

.primary-font-bold-italic {
  font-family: $primary-font;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  line-height: 46px;
  letter-spacing: 0;
}

.secondary-font-regular {
  font-family: $secondary-font;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0;
}

.secondary-font-italic {
  font-family: $secondary-font;
  font-size: 40px;
  font-style: italic;
  line-height: 46px;
  letter-spacing: 0;
}

.secondary-font-bold {
  font-family: $secondary-font;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0;
}

.secondary-font-bold-italic {
  font-family: $secondary-font;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  line-height: 46px;
  letter-spacing: 0;
}

.notation-font-regular {
  font-family: $notation-font;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0;
}

.notation-font-bold {
  font-family: $notation-font;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0;
}

.notation-font-italic {
  font-family: $notation-font;
  font-size: 40px;
  font-style: italic;
  line-height: 46px;
  letter-spacing: 0;
}

.notation-font-bold-italic {
  font-family: $notation-font;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  line-height: 46px;
  letter-spacing: 0;
}

/* On Surface Utilities */

.on-primary {
  /* h2 {
    color: $primary-blue-300;
  } */
  .iwt-heading,
  .vid_heading,
  .iwt-body,
  .vid_body,
  .cr-body {
    color: $neutral-surface;
  }
  .btn-secondary {
    background-color: $secondary-brighter-blue-700;
    border-color: $secondary-brighter-blue-700;
  }
}

.on-primary-text {
  color: $neutral-surface;
  * {
    color: inherit;
  }
}

.on-surface-social {
  color: $primary-blue-700;

  &:hover {
    color: rgba($primary-blue-700, 0.6);
  }
}

.on-background-social {
  color: $neutral-black;

  &:hover {
    color: rgba($neutral-black, 0.6);
  }
}

.section-title {
  font-size: 23px;
  color: $black;
  font-weight: 300;

  @include medium-screen {
    font-size: 45px;
  }

  @include large-screen {
    font-size: 70px;
  }
}

.text-bold {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: $black;
}

.text-thin {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: $black;
}

.spacer {
  height: 45px;
  display: block;
}

.text-on-primary {
  color: $neutral-surface;
}

// Background Utilities

.bg-grey {
  background-color: $bg-grey;
}

.bg-primary-red {
  background-color: $primary-red;
  @include bg-text-white;
}
.bg-primary-red-900 {
  background-color: $primary-red-900;
  @include bg-text-white;
}
.bg-primary-red-800 {
  background-color: $primary-red-800;
  @include bg-text-white;
}
.bg-primary-red-700 {
  background-color: $primary-red-700;
  @include bg-text-white;
}
.bg-primary-red-600 {
  background-color: $primary-red-600;
  @include bg-text-white;
}
.bg-primary-red-400 {
  background-color: $primary-red-400;
  @include bg-text-black;
}
.bg-primary-red-300 {
  background-color: $primary-red-300;
  @include bg-text-black;
}
.bg-primary-red-200 {
  background-color: $primary-red-200;
  @include bg-text-black;
}
.bg-primary-red-100 {
  background-color: $primary-red-100;
  @include bg-text-black;
}

// Primary Blue BG

.bg-primary-blue {
  background-color: $primary-blue;
  @include bg-text-white;
}
.bg-primary-blue-900 {
  background-color: $primary-blue-900;
  @include bg-text-white;
}
.bg-primary-blue-800 {
  background-color: $primary-blue-800;
  @include bg-text-white;
}
.bg-primary-blue-700 {
  background-color: $primary-blue-700;
  @include bg-text-white;
}
.bg-primary-blue-600 {
  background-color: $primary-blue-600;
  @include bg-text-white;
}
.bg-primary-blue-500 {
  background-color: $primary-blue;
  @include bg-text-white;
}
.bg-primary-blue-400 {
  background-color: $primary-blue-400;
  @include bg-text-black;
}
.bg-primary-blue-300 {
  background-color: $primary-blue-300;
  @include bg-text-black;
}
.bg-primary-blue-200 {
  background-color: $primary-blue-200;
  @include bg-text-black;
}
.bg-primary-blue-100 {
  background-color: $primary-blue-100;
  @include bg-text-black;
}

// Primary Bondi BG

.bg-primary-bondi {
  background-color: $primary-bondi;
  @include bg-text-white;
}
.bg-primary-bondi-900 {
  background-color: $primary-bondi-900;
  @include bg-text-white;
}
.bg-primary-bondi-800 {
  background-color: $primary-bondi-800;
  @include bg-text-white;
}
.bg-primary-bondi-700 {
  background-color: $primary-bondi-700;
  @include bg-text-white;
}
.bg-primary-bondi-600 {
  background-color: $primary-bondi-600;
  @include bg-text-white;
}
.bg-primary-bondi-400 {
  background-color: $primary-bondi-400;
  @include bg-text-black;
}
.bg-primary-bondi-300 {
  background-color: $primary-bondi-300;
  @include bg-text-black;
}
.bg-primary-bondi-200 {
  background-color: $primary-bondi-200;
  @include bg-text-black;
}
.bg-primary-bondi-100 {
  background-color: $primary-bondi-100;
  @include bg-text-black;
}

// Secondary Brighter Red BG

.bg-secondary-brighter-red {
  background-color: $secondary-brighter-red;
  @include bg-text-white;
}
.bg-secondary-brighter-red-900 {
  background-color: $secondary-brighter-red-900;
  @include bg-text-white;
}
.bg-secondary-brighter-red-800 {
  background-color: $secondary-brighter-red-800;
  @include bg-text-white;
}
.bg-secondary-brighter-red-700 {
  background-color: $secondary-brighter-red-700;
  @include bg-text-white;
}
.bg-secondary-brighter-red-600 {
  background-color: $secondary-brighter-red-600;
  @include bg-text-white;
}
.bg-secondary-brighter-red-400 {
  background-color: $secondary-brighter-red-400;
  @include bg-text-black;
}
.bg-secondary-brighter-red-300 {
  background-color: $secondary-brighter-red-300;
  @include bg-text-black;
}
.bg-secondary-brighter-red-200 {
  background-color: $secondary-brighter-red-200;
  @include bg-text-black;
}
.bg-secondary-brighter-red-100 {
  background-color: $secondary-brighter-red-100;
  @include bg-text-black;
}

// Secondary Grape BG

.bg-secondary-grape {
  background-color: $secondary-grape;
  @include bg-text-white;
}
.bg-secondary-grape-900 {
  background-color: $secondary-grape-900;
  @include bg-text-white;
}
.bg-secondary-grape-800 {
  background-color: $secondary-grape-800;
  @include bg-text-white;
}
.bg-secondary-grape-700 {
  background-color: $secondary-grape-700;
  @include bg-text-white;
}
.bg-secondary-grape-600 {
  background-color: $secondary-grape-600;
  @include bg-text-white;
}
.bg-secondary-grape-400 {
  background-color: $secondary-grape-400;
  @include bg-text-black;
}
.bg-secondary-grape-300 {
  background-color: $secondary-grape-300;
  @include bg-text-black;
}
.bg-secondary-grape-200 {
  background-color: $secondary-grape-200;
  @include bg-text-black;
}
.bg-secondary-grape-100 {
  background-color: $secondary-grape-100;
  @include bg-text-black;
}

// Secondary Brighter Blue BG

.bg-secondary-brighter-blue {
  background-color: $secondary-brighter-blue;
  @include bg-text-white;
}
.bg-secondary-brighter-blue-900 {
  background-color: $secondary-brighter-blue-900;
  @include bg-text-white;
}
.bg-secondary-brighter-blue-800 {
  background-color: $secondary-brighter-blue-800;
  @include bg-text-white;
}
.bg-secondary-brighter-blue-700 {
  background-color: $secondary-brighter-blue-700;
  @include bg-text-white;
}
.bg-secondary-brighter-blue-600 {
  background-color: $secondary-brighter-blue-600;
  @include bg-text-white;
}
.bg-secondary-brighter-blue-400 {
  background-color: $secondary-brighter-blue-400;
  @include bg-text-black;
}
.bg-secondary-brighter-blue-300 {
  background-color: $secondary-brighter-blue-300;
  @include bg-text-black;
}
.bg-secondary-brighter-blue-200 {
  background-color: $secondary-brighter-blue-200;
  @include bg-text-black;
}
.bg-secondary-brighter-blue-100 {
  background-color: $secondary-brighter-blue-100;
  @include bg-text-black;
}

// Accent Orange BG

.bg-accent-orange {
  background-color: $accent-orange;
  @include bg-text-white;
}
.bg-accent-orange-900 {
  background-color: $accent-orange-900;
  @include bg-text-white;
}
.bg-accent-orange-800 {
  background-color: $accent-orange-800;
  @include bg-text-white;
}
.bg-accent-orange-700 {
  background-color: $accent-orange-700;
  @include bg-text-white;
}
.bg-accent-orange-600 {
  background-color: $accent-orange-600;
  @include bg-text-white;
}
.bg-accent-orange-400 {
  background-color: $accent-orange-400;
  @include bg-text-black;
}
.bg-accent-orange-300 {
  background-color: $accent-orange-300;
  @include bg-text-black;
}
.bg-accent-orange-200 {
  background-color: $accent-orange-200;
  @include bg-text-black;
}
.bg-accent-orange-100 {
  background-color: $accent-orange-100;
  @include bg-text-black;
}

// Accent Green BG

.bg-accent-green {
  background-color: $accent-green;
  @include bg-text-white;
}
.accent-green-900 {
  background-color: $accent-green-900;
  @include bg-text-white;
}
.accent-green-800 {
  background-color: $accent-green-800;
  @include bg-text-white;
}
.accent-green-700 {
  background-color: $accent-green-700;
  @include bg-text-white;
}
.accent-green-600 {
  background-color: $accent-green-600;
  @include bg-text-white;
}
.accent-green-400 {
  background-color: $accent-green-400;
  @include bg-text-black;
}
.accent-green-300 {
  background-color: $accent-green-300;
  @include bg-text-black;
}
.accent-green-200 {
  background-color: $accent-green-200;
  @include bg-text-black;
}
.accent-green-100 {
  background-color: $accent-green-100;
  @include bg-text-black;
}

// Accent Blue BG

.bg-accent-blue {
  background-color: $accent-blue;
  @include bg-text-white;
}
.bg-accent-blue-900 {
  background-color: $accent-blue-900;
  @include bg-text-white;
}
.bg-accent-blue-800 {
  background-color: $accent-blue-800;
  @include bg-text-white;
}
.bg-accent-blue-700 {
  background-color: $accent-blue-700;
  @include bg-text-white;
}
.bg-accent-blue-600 {
  background-color: $accent-blue-600;
  @include bg-text-white;
}
.bg-accent-blue-400 {
  background-color: $accent-blue-400;
  @include bg-text-black;
}
.bg-accent-blue-300 {
  background-color: $accent-blue-300;
  @include bg-text-black;
}
.bg-accent-blue-200 {
  background-color: $accent-blue-200;
  @include bg-text-black;
}
.bg-accent-blue-100 {
  background-color: $accent-blue-100;
  @include bg-text-black;
}

.bg-on-surface {
  background-color: $neutral-surface;
}

.bondi-600 {
  color: $primary-bondi-600 !important;
}

.bg-neutral-black {
  background-color: $neutral-black !important;
}

/* Overlay Styles */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

/* Block Spacing */

.my-6 {
  margin: 60px 0;
}

.break {
  :before {
    content: '\A';
    white-space: pre;
  }
}

// Gutenburg Utilites

.has-primary-background-color {
  background-color: $primary-var;
}

.has-secondary-background-color {
  background-color: $secondary;
}

.has-black-background-color {
  background-color: $black;
}

.has-white-background-color {
  background-color: $white;
}

.has-primary-color {
  color: $primary !important;
}

.has-secondary-color {
  color: $secondary !important;
}

.has-black-color {
  color: $black !important;
}

.has-white-color {
  color: $white !important;
}
