.sidebar {
  max-width: 100%;
  border: 2px solid $primary;
  border-radius: 25px;
  padding-top: 10px;
  margin-left: auto;

  @include large-screen {
    max-width: 358px;
  }

  .sidebar-cta {
    max-width: 100%;
    margin-left: auto;
    text-align: center;
    background-color: $primary-400;
    padding: 2rem 1rem 3rem 1rem;
    border-radius: 25px;

    @include large-screen {
      max-width: 350px;
    }

    .cta-title {
      text-align: center;
    }
  }
}

.sb-content {
  text-align: center;
  @include large-screen {
    max-width: 350px;
    margin: 0 auto;
  }

  .image {
    margin-bottom: 30px;
  }
  .sr-heading {
    font-size: 22px;
    color: $text-gray;
    line-height: 16px;
    letter-spacing: 0;
  }

  .col {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    .sr-card {
      .sr-image {
        border-radius: 25px;
        height: 180px;
        box-shadow: $shadow;
        width: 100%;
      }
    }
  }

  .sb-block {
    padding: 50px 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $neutral-black;
    }
    .subscribe {
      .sub-heading {
        font-size: 24px;
        font-weight: 700;
        color: $gray-3;
        line-height: 37px;
        letter-spacing: 0;
      }

      .sub-form {
        input[type='text'] {
          border-radius: 0;
        }
        .btn {
          margin-top: 0;
          border-radius: 0;
        }
      }
    }
  }
}

.widget_categories {
  max-width: 200px;
  margin: 0 auto;
  text-align: left;

  ul {
    padding-left: 0;
    list-style: none;
    .cat-item {
      a {
        color: $gray-3;
        text-decoration: none;
        position: relative;
        padding-left: 15px;
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 0;

        &:before {
          content: '\f054';
          position: absolute;
          top: -7px;
          left: 0;
          font-family: FontAwesome;
          font-weight: normal;
          font-size: 10px;
        }

        &:hover {
          color: $primary-red;
        }
      }
    }
  }
}
