// Breakpoints
// Matches: https://getbootstrap.com/docs/4.4/layout/overview/#responsive-breakpoints
// Intended to be used with min-width media queries for a mobile first approach
//
// These are also used in the media query
// ----------------------------------------------------------------------------

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;

// Medium devices (tablets, 768px and up)
$screen-md: 768px;

// Large devices (desktops, 992px and up)
$screen-lg: 992px;

// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;

$main-font: 'Poppins', sans-serif;

//Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Work Sans', sans-serif;
$secondary-font-bold: 'Work Sans' Bold, sans-serif;
$notation-font: 'Roboto', sans-serif;

// Colors
// These are just some placeholder colors, change to client colors
// ----------------------------------------------------------------------------

//Theme Colors
$primary: #39306F;
$secondary: #10D1D3;
$success: #10D1D3;
$info: #9185DE;
$warning: #D2D36F;
$danger: #F46254;
$light: #F7F7F7;
$dark: #000000;

//Primary Colors
$primary: #39306f;
$primary-var: #9185de;
$primary-800: #18152e;
$primary-700: #2c2655;
$primary-400: #7c7798;
$primary-200: #d3cef5;

//CPS Colors

// $primary: #cd1a2f;
$primary-red: #cd1a2f;
$primary-red-900: #2b0c00;
$primary-red-800: #410008;
$primary-red-700: #9f0000;
$primary-red-600: #ac0418;
$primary-red-500: #cd1a2f;
$primary-red-400: #e65364;
$primary-red-300: #ff8391;
$primary-red-200: #ffd3d8;
$primary-red-100: #ffeff1;

$primary-blue: #3386f3;
$primary-blue-900: #000e21;
$primary-blue-800: #012e69;
$primary-blue-700: #034295;
$primary-blue-600: #034295;
$primary-blue-500: #3386f3;
$primary-blue-400: #6fadff;
$primary-blue-300: #b8d6fd;
$primary-blue-200: #d5e7ff;
$primary-blue-100: #eff6ff;

$primary-bondi: #189dc3;
$primary-bondi-900: #001f27;
$primary-bondi-800: #002e3b;
$primary-bondi-700: #004558;
$primary-bondi-600: #056e8d;
$primary-bondi-500: #189dc3;
$primary-bondi-400: #56bbd8;
$primary-bondi-300: #b6ecfc;
$primary-bondi-200: #d0f5ff;
$primary-bondi-100: #effcff;

// CPS Secondary
$secondary-brighter-red: #ff0000;
$secondary-brighter-red-900: #000000;
$secondary-brighter-red-800: #2b0c00;
$secondary-brighter-red-700: #790000;
$secondary-brighter-red-600: #c30202;
$secondary-brighter-red-500: #ff0000;
$secondary-brighter-red-400: #ff6565;
$secondary-brighter-red-300: #ffa0a0;
$secondary-brighter-red-200: #ffdddd;
$secondary-brighter-red-100: #fff2f2;

$secondary-brighter-blue: #007cff;
$secondary-brighter-blue-900: #001022;
$secondary-brighter-blue-800: #012c5c;
$secondary-brighter-blue-700: #013d80;
$secondary-brighter-blue-600: #0259b5;
$secondary-brighter-blue-500: #007cff;
$secondary-brighter-blue-400: #71b5ff;
$secondary-brighter-blue-300: #badbff;
$secondary-brighter-blue-200: #deeeff;
$secondary-brighter-blue-100: #fafcff;

$secondary-grape: #9162ff;
$secondary-grape-900: #09001f;
$secondary-grape-800: #1c015a;
$secondary-grape-700: #331577;
$secondary-grape-600: #4613be;
$secondary-grape-500: #9162ff;
$secondary-grape-400: #ad89ff;
$secondary-grape-300: #ccb5ff;
$secondary-grape-200: #dfd1ff;
$secondary-grape-100: #f1ebff;

// CPS Accents
$accent-orange: #ff731d;
$accent-orange-900: #210000;
$accent-orange-800: #580000;
$accent-orange-700: #802d01;
$accent-orange-600: #bf4901;
$accent-orange-500: #ff731d;
$accent-orange-400: #ff914d;
$accent-orange-300: #ffc098;
$accent-orange-200: #ffe9db;
$accent-orange-100: #fff8f4;

$accent-green: #4ecdc4;
$accent-green-900: #001c1a;
$accent-green-800: #00403c;
$accent-green-700: #1e6762;
$accent-green-600: #179f95;
$accent-green-500: #4ecdc4;
$accent-green-400: #92ebe5;
$accent-green-300: #b5fffa;
$accent-green-200: #d6fffc;
$accent-green-100: #f5fffe;

$accent-blue: #16a5e2;
$accent-blue-900: #001b27;
$accent-blue-800: #025376;
$accent-blue-700: #0775a3;
$accent-blue-600: #0a88be;
$accent-blue-500: #16a5e2;
$accent-blue-400: #83daff;
$accent-blue-300: #b4e9ff;
$accent-blue-200: #dbf4ff;
$accent-blue-100: #f4fcff;

// CPS Neutrals
$neutral-grey: #969799;
$neutral-black: #070d0d;
$neutral-surface: #fafcff;


//Alternate colors
$alt-gray-dark: #0e0e0f;
$alt-red: #f46254;

//Neutrals
$black: #000000;
$white: #ffffff;
$white-2: #fafafa;
$gray: #aaaaaa;
$gray-2: #d9e1eb43;
$gray-3: #333333;
$light-gray: #f4f4f4;
$text-gray: #7f7e7c;
$text-gray-2: #707479;
$bg-grey: #f0f0f0;
$neutral-gray : #dbdbdb;

//CTA colors
$cta-main: $alt-red;
$cta-secondary: $secondary;

//Buttons
$button-primary: $primary;
$button-secondary: $white;

$btn-primary-pressed: $secondary-brighter-red-300;
$btn-secondary-pressed: $secondary-brighter-blue-300;

$text-link-primary-disabled: #b28c8c;
$text-link-secondary-disabled: #a5b6cc;

//Shadow
$shadow: 0px 3px 6px #00000029;

$colors: (primary-red, $primary-red), (primary-red-100, $primary-red-100), (primary-red-300, $primary-red-300), (primary-blue, $primary-blue), (primary-blue-100, $primary-blue-100), (primary-blue-300, $primary-blue-300), (primary-bondi, $primary-bondi), (primary-bondi-300, $primary-bondi-300), (primary-bondi-100, $primary-bondi-100), (neutral-surface, $neutral-surface), (neutral-black, $neutral-black), (accent-orange-200, $accent-orange-200), (secondary-brighter-red, $secondary-brighter-red), (secondary-brighter-blue, $secondary-brighter-blue), (secondary-grape, $secondary-grape), (accent-orange, $accent-orange), (accent-green, $accent-green), (accent-blue, $accent-blue);

//bootstrap theme-colors

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
