.footer-container {
  background-color: $gray-150;

  .prefooter {
    padding-top: 50px;
    background: linear-gradient(180deg, $secondary 70%, $gray-150 30%);

    .heading-container {
      text-align: center;
      span {
        display: block;
        font-family: $font__notation;
        font-size: 30px;
        font-weight: 700;
        color: $dark;
        @include medium-screen {
          font-size: 45px;
          line-height: 52px;
        }
      }
    }

    .prefooter-block-container {
      .prefooter-block {
        position: relative;

        &.left {
          margin-bottom: 20px;

          @include medium-screen {
            margin-bottom: 0;
          }
        }
        .block-border {
          content: "";
          position: absolute;
          top: 0;
          left: -10px;
          width: 20px;
          height: 100%;
          background-color: $primary;
          border-radius: 5px;
        }

        .block-content {
          position: relative;
          z-index: 2;
          background-color: $light;
          padding: 20px;
          position: relative;
          border-radius: 5px;
          box-shadow: $shadow;
          .icon {
            width: 88px;
            height: 88px;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-list-check,
            .fa-circle-question {
              color: $light;
              width: 49px;
              height: 48px;
            }
          }

          .heading {
            font-family: $font__main;
            font-size: 28px;
            font-weight: 700;
            color: $primary;
            line-height: 36px;
            letter-spacing: 0;
          }

          .text {
            font-family: $font__secondary;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding-top: 8%;
    padding-bottom: 20px;

    .footer-block {
      width: 50%;
      margin: 0 auto 20px auto;

      @include medium-screen {
        margin: 0;
        width: 100%;
        margin: 0;
      }
      .footer-block-title {
        font-size: 16px;
        color: $primary;
        line-height: 23px;
        letter-spacing: 0;
        display: block;
        margin-bottom: 15px;
      }
      .footer-links {
        a {
          display: block;
          font-size: 16px;
          font-weight: 300;
          color: $dark;
          line-height: 23px;
          letter-spacing: 0;

          &:not(:last-of-type) {
            margin-bottom: 5px;
          }
        }
      }

      .gradient-btn {
        margin-bottom: 15px;
      }

      .address,
      .email,
      .phone {
        display: block;
        font-size: 16px;
        font-weight: 300;
        color: $dark;
        line-height: 23px;
        letter-spacing: 0;
        margin-bottom: 5px;
      }

      .email {
        text-decoration: underline;
      }
    }
  }

  .copyright-container {
    .copyright {
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.footer-wrapper {
  background-color: $dark;
  color: $white;
  padding-top: 48px;
  padding-bottom: 24px;

  .main-row {
    @include medium-screen {
      border-bottom: 1px solid #a7b7c9;
    }
  }

  h2 {
    color: $light;
    text-align: center;
    font-size: 24px;
    line-height: 72px;
    letter-spacing: 0;

    @include medium-screen {
      text-align: left;
    }
  }

  .footer-cta {
    border-bottom: 1px solid $white;
    p {
      text-align: center;
      color: $light;
      font-size: 14px;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      max-width: 100%;

      @include medium-screen {
        text-align: left;
      }
    }
    .btn-secondary:hover {
      border-color: $white;
    }

    @include medium-screen {
      border-bottom: none;
      width: 50%;
      margin: 0 auto;
    }

    @include large-screen {
      display: block;
      width: 100%;
    }

    &.logo {
      text-align: center;

      @include large-screen {
        text-align: left;
      }

      .logo-holder {
        @include large-screen {
          padding-top: 25px;
        }
      }

      .slogan {
        font-family: $font__main;
        font-size: 15px;
        line-height: 20px;

        @include medium-screen {
          text-align: center;
        }

        @include large-screen {
          text-align: left;
        }
      }
    }

    &.resources {
      .btn {
        display: none;
      }
    }
  }

  .footer-menu {
    list-style-type: none;
    padding-inline-start: 0;

    li {
      text-align: center;
      line-height: 32px;

      a:hover {
        text-decoration: underline;
      }

      @include medium-screen {
        text-align: left;
      }
    }

    a {
      color: $light;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }

    @include medium-screen {
      border-bottom: none;
    }
  }

  .contact {
    /* @include medium-screen {
        padding-left: 0;
      } */
  }

  .legal {
    p {
      font-size: 11px;
      font-family: $font__secondary;
      text-align: center;
      color: $light;

      @include large-screen {
        text-align: left;
      }
    }
    .legal-menu {
      .footer-menu {
        @include medium-screen {
          display: flex;
          justify-content: center;
          li {
            &:not(:last-of-type) {
              margin-right: 15px;
            }
          }
        }
      }
    }
    .social-nav {
      display: flex;
      justify-content: center;
      .icon-holder {
        width: 100%;
        max-width: 195px;
        padding: 20px;
        display: flex;
        justify-content: space-around;

        @include medium-screen {
          padding: 0;
        }

        a {
          font-size: 25px;
          color: $light;

          &:hover {
            color: rgba($light, 0.6);
          }
        }
      }
    }
  }
}
