.hero {
  &.frontpage {
    min-height: 770px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    @include medium-screen {
      padding-top: 10%;
    }

    .right {
      .heading {
        font-family: $font__main;
        font-size: 32px;
        font-weight: 800;
        color: $light;
        letter-spacing: 0;
        text-transform: uppercase;

        @include medium-screen {
          font-size: 60px;
          line-height: 66px;
        }
      }

      .subtitle {
        font-size: 22px;
        color: $light;
        line-height: 36px;
        letter-spacing: -0.22px;
        margin-bottom: 30px;

        @include medium-screen {
          padding: 0 40px;
        }
      }
    }
  }
}
