.service-card {
  &:last-of-type {
    border-bottom: 1px solid $dark;
  }
  .service-card-link {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid $dark;
    position: relative;

    .hover-bg {
      background-image: url("../images/webDevHover.jpg");
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;

      &:before {
        content: "";
        background: rgba($primary, 0.8);
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &:hover {
      text-decoration: none;
      .arrow {
        .arrow-icon {
          position: relative;
          transform: translateX(-20px);
          transition: 0.4s ease-in;
        }
      }

      .hover-bg {
        transition: 0.4s ease-in;
        opacity: 1;
      }

      .service-card-content {
        .service-card-text,
        .heading-md {
          color: $white;
        }
      }
    }

    .digit {
      position: relative;
      margin-right: 20px;

      @include medium-screen {
        margin-right: 0;
      }
      span {
        font-family: $font__main;
        font-size: 30px;
        font-weight: 700;
        color: $secondary;
        line-height: 36px;
        letter-spacing: 0;
      }
    }

    .service-card-content {
      position: relative;
      .service-card-text {
        font-family: $font__secondary;
        font-size: 16px;
        font-weight: 300;
        color: $dark;
        line-height: 23px;
        letter-spacing: 0;
        max-width: 430px;
        margin-bottom: 0;
      }
    }

    .arrow {
      display: none;

      @include medium-screen {
        display: block;
      }
      .arrow-icon {
        display: block;
        background-image: url("../images/yohArrowRight.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 67px;
        height: 67px;
        background-color: $light;
        border-radius: 50%;
        box-shadow: $shadow;
        transition: 0.4s ease;
      }
    }
  }
}
