.blog-hero {
  background-color: $primary;
  min-height: 500px;
  display: flex;
  align-items: center;

  .hero-title {
    @include medium-screen {
      font-size: 3rem;
      font-weight: 700;
      color: $light;
    }
  }

  .subtitle {
    color: $light;

    @include medium-screen {
      font-size: 24px;
    }
  }

  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.blog-content {
  padding: 30px 0;

  @include medium-screen {
    padding: 60px 0;
  }
  .left-side {
    .post {
      max-width: 700px;

      .meta-container {
        @include medium-screen {
        }
        .post-meta {
          list-style: none;
          padding-left: 0;
          li {
            @include medium-screen {
              &:not(:last-of-type) {
                margin-right: 20px;
              }
            }
          }
        }
        .date {
          @include medium-screen {
            margin-right: 20px;
          }
        }

        .author-img-container {
        }
      }

      .entry-header {
        margin-top: 0;

        a {
          text-decoration: none;
        }
      }

      .entry-content {
        margin-top: 0;
        margin-bottom: 0;

        p {
          word-wrap: break-word;
          @include medium-screen {
            font-size: 20px;
            line-height: 1.6;
          }
        }
      }
    }
    .post-separator {
      max-width: 700px;
    }
  }

  .right-side {
    .heading {
      font-weight: 700;
      @include medium-screen {
        font-size: 30px;
      }
    }

    .category-list-container {
      border-bottom: 1px solid $gray-2;
      .list-group {
        .list-group-item {
          border: none;
          padding-left: 0;
          a {
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            line-height: 1.6;
          }
          .list-group-item {
            padding-left: 20px;
            margin-bottom: 0;

            a {
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.6;
              text-decoration: none;
            }
          }

          .list-group {
          }
        }
      }
    }

    .advantage-container {
      border-bottom: 1px solid $gray-2;
      .email-form,
      .form-check-input {
        border: 1px solid $black;
      }

      .form-check {
        .form-check-label {
          position: relative;
          top: -30px;
        }
      }

      .btn {
        margin-top: 0;
      }
    }

    .social-container {
      a {
        font-size: 28px;
        color: $primary;
        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
    }
  }
}
