.post {
  .single-post-hero {
    background-color: $primary;
    min-height: 500px;
    display: flex;
    align-items: center;
    .hero-content {
      .breadcrumb {
        color: $light;
        a {
          color: $light;
        }
      }
      .hero-title {
        font-weight: 700;
        color: $light;
        line-height: 1.1;
        @include medium-screen {
          font-size: 3rem;
        }
      }

      .post-meta {
        list-style: none;
        padding-left: 0;

        .meta-wrapper {
          &:not(:last-of-type) {
            margin-right: 15px;
          }
          span {
            font-size: 1rem;
            color: $light;
            line-height: 1.6;
            a {
              color: $light;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.post-bottom-content {
  .relate-container {
    .heading {
      font-weight: 700;
    }
  }
}
