/* Gutenburg Editor Styles */
.wp-block {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: grid;
    grid-template-columns: auto auto auto;

    .card-repeater {
      background-color: #eff6ff;
      padding: 30px 0;

      .cr-header {
        font-family: 'Georgia', Serif;
        text-align: center;
      }

      .cr-body {
        text-align: center;
      }
    }
  }

  &[data-type='acf/card-repeater'] {
    /* it can be "data-align=full" and also "right", "left" and "center" */
    max-width: 100%;
  }

  .yohdev-card {
    text-align: left;
    background-color: #fafcff;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #aaaaaa;
    padding: 60px;
  }
}

/* End Gutenburg Editor Styles */

.wp-block .container {
  max-width: 1200px;
  margin: 0 auto;
}

.wp-block .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.wp-block .card-repeater {
  background-color: #eff6ff;
  padding: 30px 0 80px 0;
}

.wp-block .card-repeater .cr-header {
  font-family: 'Georgia', Serif;
  text-align: center;
}

.wp-block .card-repeater .cr-body {
  text-align: center;
  margin: 50px auto;
}

.wp-block[data-type='acf/card-repeater'] {
  /* it can be "data-align=full" and also "right", "left" and "center" */
  max-width: 100%;
}
