.reviews {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;

  @include large-screen {
    min-height: 700px;
  }

  .rev-content {
    position: relative;
    z-index: 222;
    @include large-screen {
      position: absolute;
      z-index: 222;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 1320px;
      width: 100%;
    }

    .rev-header {
      color: $neutral-surface;
    }

    .rev-image {
      width: 85px;
      height: 85px;
      border-radius: 50%;
    }

    .stars {
      margin: 15px 0;
      i {
        color: yellow;
      }
    }

    .rev-name {
      color: $neutral-surface;
      font-size: 14px;
      font-weight: 700;
    }

    .rev-date {
      color: $neutral-surface;
      font-size: 12px;
      margin-bottom: 30px;
    }

    .rev-body {
      color: $neutral-surface;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      line-height: 20px;

      @include large-screen {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }

  .carousel-inner {
    padding: 70px 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;

    @include large-screen {
      display: block;
    }
  }
}
