.wp-block-yohdev-hero{
  .hero {
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 88vh;
    
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 71%);
    
        @include large-screen {
          clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0% 100%);
        }
      }
    
      .hero-container {
        position: 'relative';
        z-index: 2;
        max-width: 1180px;
    
        p {
          line-height: 1.6em;
          margin-bottom: 30px;
          max-width: 900px;
        }
      }
    }
}