.logo-carousel {
    padding: 50px 0;
    .glide__slides {
      align-items: center;
      .glide__slide {
        text-align: center;
        img {
          max-width: 200px;
          height: auto;
        }
      }
    }
  
    .controls {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -105px;
  
      button {
        border: none;
        background: none;
        i {
          font-size: 20px;
        }
      }
    }
  }
  