/* stylelint-enable */

.navbar {
  width: 100%;
  background: $dark;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: $white;
  padding: 20px 0;
  border-bottom: 1px solid $gray-300;

  .navbar-nav {
    align-items: center;
    .nav-link {
      font-family: $font__secondary;
      font-size: 16px;
      font-weight: 300;
      color: $light;
      line-height: 36px;
      letter-spacing: -0.24px;
      text-transform: uppercase;
      &:hover {
        color: $secondary;
        border-radius: 6px;
        text-decoration: none !important;
      }

      &.current-menu-item {
        color: $secondary;
      }

      @include medium-screen {
        margin-right: 15px;
        font-size: 12px;
      }
    }
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

//navbar active overide
.navbar-dark .navbar-nav .active > .nav-link {
  color: $secondary;
  border-radius: 6px;
}
