/* stylelint-disable */
/* Nav item */

.nav-item {
  margin: 0.5rem 1rem;
  align-self: center;

  @include large-screen {
    margin-right: 16px;
  }
}
.nav-item:hover .dropdown-menu:not(.show) {
  display: block;
}

.custom-logo-link {
  img {
    max-width: 100px;
    margin-right: 20px;

    @include medium-screen {
      max-width: 150px;
    }
  }
}

/* stylelint-enable */

.navbar-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: $white;

  .nav-container {
    max-width: 1180px;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: $secondary;
  }

  .navbar {
    @include medium-screen {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .custom-logo-link {
    img {
      width: 120px;
      height: auto;
      position: relative;
      left: 14px;

      @include medium-screen {
        left: 0px;
      }
    }
  }

  .navbar-brand {
    margin-left: 1rem;
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;

    @include medium-screen {
      font-size: 28px;
      margin-left: inherit;
    }
  }

  .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    margin-right: 0;
    border: none;

    @include large-screen {
      margin-right: inherit;
    }
  }

  .container {
    min-width: 100%;
    padding: 0;

    @include medium-screen {
      min-width: inherit;
      padding: inherit;
      max-width: 1180px;
      padding: 0.5rem 0;
    }
  }
  .navbar-collapse {
    position: relative;
    top: 22px;
    padding: 30px 1rem;

    @include medium-screen {
      position: static;
      background-color: inherit;
    }

    .navbar-nav {
      align-items: center;

      @include large-screen {
        align-items: baseline;
      }

      .menu-item {
        margin-bottom: 20px;

        @include medium-screen {
          margin-bottom: 0px;
          margin-right: 1.25rem;
        }

        // These importants are needed to override bootstraps inherit property on the nav-link class

        &.active {
          .nav-link {
            // background-color: $light-gray;
            // color: $primary-red-700 !important;
            border-radius: 6px;
          }
        }
      }
    }

    .nav-link {
      font-family: $secondary-font;
      font-size: 18px;
      font-weight: 700;
      line-height: 10px;
      padding: 10px 25px;

      @include medium-screen {
        // color: inherit;
        font-size: 22px;
      }

      @include medium-screen {
        font-size: 14px;
      }

      &:hover {
        // background-color: $gray-2;
        border-radius: 6px;
        text-decoration: none;
      }

      &:active {
        // color: $primary-red-700 !important;
      }
    }
  }

  .btn {
    margin: 0;
  }
}

//navbar active overide
.navbar-dark .navbar-nav .active > .nav-link {
  color: $secondary;
  // background-color: $gray-2;
  border-radius: 6px;
}
