//card icon, card-resource globals
.card-icon,
.card-resource,
.card-download {
  border: none;

  .logo {
    max-width: 80px;
  }

  .card-title {
    text-align: center;
  }

  .card-text {
    text-align: center;
    width: 250px;
    margin: auto;
  }
}

//external resources card
.card-resource {
  background-color: transparent;
  color: $light-gray;

  .card-title {
    color: $white;
  }
}

//card-download
.card-download {
  border: 2px solid $primary-700;
  border-radius: 10px;
  background-color: $light-gray;

  .card-title {
    font-size: 32px;

    @include medium-screen {
      font-size: 30px;
    }

    @include large-screen {
      font-size: 40px;
    }

    @include xlarge-screen {
      font-size: 48px;
    }
  }

  .card-text {
    width: 100%;
    max-width: 320px;
  }
}

//card white bg
.card-white {
  .card-title {
    color: $primary;
  }

  .card-text {
    color: $text-gray;
  }
}

//card long and left justified
.card-long {
  .card-title {
    font-size: 32px;
    color: $primary;
    text-align: left;

    @include medium-screen {
      font-size: 30px;
    }

    @include large-screen {
      font-size: 40px;
    }

    @include xlarge-screen {
      font-size: 32px;
    }
  }

  .card-text {
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
}

//post card archive
.card-post {
  border-radius: 25px;

  .card-post-link-wrapper {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: none;
    }
  }
  .card-text {
    font-size: 18px;
    color: $text-gray;

    &:hover {
      color: $text-gray;
    }
  }

  .post-link {
    font-size: 18px;
    text-decoration: underline;
    color: $primary;
    margin-bottom: 10px;

    @include medium-screen {
      font-size: 24px;
    }

    .icon {
      margin-left: 8px;
      margin-bottom: 4px;
    }

    &:hover {
      color: $primary-400;
    }
  }

  .tag {
    right: 8px;
    bottom: 8px;

    @include medium-screen {
      right: 64px;
      bottom: 32px;
    }
  }
}

//card post recent
.card-post-recent {
  .card-title {
    @include small-screen {
      font-size: 32px;
    }
  }

  .post-link {
    font-size: 16px;
  }
}
