/*---------------------------------
		Colors Variables
-----------------------------------*/
//Theme Colors
$primary: #39306f;
$secondary: #10d1d3;
$success: #10d1d3;
$info: #9185de;
$warning: #d2d36f;
$danger: #f46254;
$light: #f7f7f7;
$dark: #000000;
$accent: $info;

//Neturals
$black: #000;
$black-900: #3d3d3d;
$black-860: #595858;
$black-850: #323232;
$black-800: #414042;
$black-600: #3d3e40;
$black-700: #595959;
$black-100: #282828;
$black-50: #5d5d5d;

$white: #fff;

$dark-gray-200: #333;
$dark-gray-100: #424242;

$gray-100: #eff3f6;
$gray-150: #eee;
$gray-160: #e2eaee;
$gray-200: #ccc;
$gray-300: #555;

$gray: $gray-300;

/*---------------------------------
		Opacity
-----------------------------------*/

$opacity-black-075: rgba(0, 0, 0, 0.075);
$opacity-black-015: rgba(0, 0, 0, 0.15);

/*---------------------------------
		Gradient
-----------------------------------*/

$header-gradient: linear-gradient(to bottom, $black-900 0%, $black-100 100%);
$link-hover-gradient: linear-gradient(to bottom, $primary 0%, $primary 100%);

/*---------------------------------
		Element Colors
-----------------------------------*/

// <body>
$color__body-text: $black-800;
$color__background-body: $white;

// <a>
$color__link: $secondary;
$color__link-hover: darken($secondary, 10%);

$color__background-button: $gray-100;
$color__background-button-hover: $gray-100;
$color__border-button: $dark-gray-200;
$color__border-button-hover: $black;

$color__border-input: $gray-100;
$color__text-input: $dark-gray-200;
$color__text-input-focus: $black;

// <pre>, <code>
$color__background-pre: $gray-100;

// <hr>
$color__background-hr: $gray-150;
$color__background-table: lighten($secondary, 50%);

/*---------------------------------
		Border Colors
-----------------------------------*/

$color__border-light: $gray-100;
$color__border-fieldset: $gray-200;
$color__border-table: $gray-200;
$color__border-header: $gray-300;

/*---------------------------------
		Bootstrap Theme Colors
-----------------------------------*/
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
