// Fonts
// ----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Work+Sans:ital@0;1&display=swap');
@import url('https://use.typekit.net/lki6wqj.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Global
// ----------------------------------------------------------------------------
body {
  font-family: $secondary-font;
  font-size: 14px;
}

// not sure what this global span is used for? 
span {
  // display: block;
  font-family: $secondary-font;
  &.button-header {
    font-size: 26px;
    font-weight: 700;
    color: $neutral-black;
    line-height: 70px;
    letter-spacing: 0px;
  }
}
// Headings
// ----------------------------------------------------------------------------
.yohdev {
  h1 {
    color: $primary;
    font-family: $primary-font;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    line-height: 60px;

    @include medium-screen {
      font-size: 56px;
      line-height: 80px;
    }

    @include large-screen {
      font-size: 64px;
      line-height: 80px;
    }
  }

  h2 {
    color: $neutral-black;
    font-family: $primary-font;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.05px;
    line-height: 52px;
    font-weight: 700;

    @include medium-screen {
      font-size: 40px;
      line-height: 64px;
      letter-spacing: 0.06px;
    }

    @include large-screen {
      font-size: 48px;
      line-height: 56px;
    }
  }

  h3 {
    color: $primary;
    font-family: $primary-font;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0;
    line-height: 30px;

    @include large-screen {
      font-size: 32px;
    }
  }

  h4 {
    color: $neutral-black;
    font-family: $secondary-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 29px;
  }

  h5 {
    color: $neutral-black;
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    line-height: 22px;
  }

  h6 {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-weight: bold;
  }

// Paragraph and Links
// ----------------------------------------------------------------------------
  p {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: $neutral-black;
    letter-spacing: 0px;
    line-height: 22px;
  }

  a {
    /* color: $primary-var; */
    font-family: $secondary-font;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* text-decoration: underline; */

  }
}

.text-link {
  font-family: $secondary-font;
  font-size: inherit;
  font-weight: normal;
  line-height: 70px;
  letter-spacing: 0px;
  text-decoration: none;

  &.primary {
    color: $primary;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }

    &:active {
      color: $primary;
      text-decoration: underline;
    }

    &.disabled {
      color: $text-link-primary-disabled !important;
    }
  }

  &.secondary{
    color: $secondary;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }

    &:active {
      color: $secondary;
      text-decoration: underline;
    }

    &.disabled {
      color: $text-link-secondary-disabled !important;
    }
  }
}
